<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letitgrow.gardenapp" >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlantDetailActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".PlantNowActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.letitgrow.gardenapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.letitgrow.gardenapp.MainActivity" />
        </activity>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.letitgrow.gardenapp.contentprovider" >
        </provider>


    </application>

</manifest>
